# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- List commonly used libraries
- Provide examples using arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia

Some of the commonly used libraries used by Data Scientists include:
- Numpy
- Matplotlib
- Pandas
- SciPy

|Data science tools|
|-------|
|Hadoop|
|Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [16]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [20]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Martin Rodriguez